body {
    justify-content: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

nav {
    width: 96%;
}

nav li a {
    font-size: min(3em, 3vw);
}

/* Classes */

.title {
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 10.636em;
    color: white;
    white-space: nowrap;
}

.spaceman-large {
    height: 30vh;
}

@media (max-width: 1300px) {
    .title {
        font-size: min(10.636em, 9vw);
    }

    nav li {
        font-size: min(3em, 3vw);
    }

    nav {
        width: auto;
    }
}