* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height:100%;
    min-width: 320px;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #222;
    opacity: 0;
    transition: opacity 0.4s ease-out;
}

/* Navigation */

nav {
    margin: 30px 0 20px 0;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

nav li {
    margin-right: 25px;
    display: inline-block;
}

nav li a {
    color: #bbb;
    font-size: 44px;
    text-decoration: none;
    transition: color 0.4s ease-out, opacity 0.3s ease;
    white-space: nowrap;
}

nav li a:hover {
    color: white;
}

nav li:last-child {
    margin-right: 0;
}

/* Main content */

header {
    max-width: 1240px;
    width: 99%;
    margin: 0 auto;
    text-align: center;
}

main {
    display: flex;
    position: relative;
    justify-content: center;
    flex-grow: 1;
}

p {
    color: white;
    text-align: justify;
    font-size: 1.4em;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* Classes */

.article-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    max-width: 1240px;
    padding-bottom: 40px;
    width: 100%;
    top: 0;
}

.article-container img, .article-container video {
    border: 2px solid #ddd;
}

.article {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 0;
    opacity: 0;
    padding: 0 40px;
    transition: opacity 0.4s ease-out, height 0.4s ease-out;
    align-items: center;
    overflow: hidden;
}

.article h3 {
    color: white;
    text-align: center;
}

.article img, .article video {
    margin-bottom: 40px;
    width: 100%;
    height: auto;
    max-width: 100%;
}

.article video:last-child, .article img:last-child {
    margin-bottom: 0;
}

.article p {
    margin-bottom: 40px;
}

.close-btn {
    position: absolute;
    top: 0;
    left: 40px;
    color: white;
    font-size: 4em;
    cursor: pointer;
    transition: color 0.25s ease-out;
}

.close-btn:hover {
    color: #ccc;
}

.content {
    max-width: 1240px;
    min-height: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    gap: 40px 0;
    padding: 40px 0;
    transition: opacity 0.4s ease-out;
    z-index: 1;
}

.content img, .content video {
    border: 2px solid #ddd;
    width: 100%;
    height: auto;
}

.game-container {
    display: flex;
    flex-direction: row;
    height: 400px;
    margin: 0 auto;
    padding: 20px 30px;
    border-radius: 8px;
    align-items: center;
    gap: 40px;
    transition: transform .4s ease-out, box-shadow .4s ease-out, background-color .4s ease-out;
}

.game-container p {
    text-align: left;
}

.game-container video {
    width: auto;
    max-width: 100%;
    height: 100%;
    flex-shrink: 0; /* Prevent video from shrinking */
}

.game-container div {
     flex-grow: 1; /* Allow the div to take the remaining space */
}

.game-container img {
    border: 2px solid #ddd;
}

.game-container:hover {
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    background-color: #1E1E1E;
}

.game-info {
    font-size: 20px;
    margin-bottom: 40px;
}

.game-info > * {
    margin-bottom: 5px;
}

.game-info a {
    display: flex;
    flex-direction: column;
    color: dodgerblue;
    text-decoration: underline;
    text-align: center;
    transition: color 0.4s ease-out;
}

.game-info a:hover {
    color: cornflowerblue;
}

.game-title {
    color: white;
    font-size: 56px;
    text-align: center;
    margin-bottom: 20px;
}

.icon-container {
    display: flex;
    height: 100%;
    vertical-align: middle;
}

.no-select {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.strike {
    text-decoration: line-through;
}

/* Fonts */

.amarante-regular {
    font-family: "Amarante", serif;
    font-weight: 400;
    font-style: normal;
}

.raleway-bold {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* ID selectors */

#current {
    color: white;
}

#home-icon {
    height: 100px;
    margin: 0 25px;
    filter: brightness(70%);
    transition: filter 0.4s ease-out;
}

#home-icon:hover {
    filter: brightness(100%);
}

#tsparticles {
    z-index: -1;
}


/* Media queries */
@media (max-width: 1300px) {
    header {
        max-width: 740px;
    }

    nav li a {
        font-size: min(1.5em, 3vw);
    }

    nav li {
        margin-right: 10px;
    }

    #home-icon {
        height: 75px;
        width: auto;
        margin-right: 10px;
    }

    p {
        font-size: 2vw;
        font-weight: 600
    }

    .content {
        margin: 0 50px;
    }

    .game-container {
        background: linear-gradient(90deg, rgba(29,29,29,1) 0%, rgba(31,31,31,1) 100%);
        border-left: 4px solid #444;
        width: 100%;
        height: auto;
        max-width: 740px;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 0;
    }

    .game-container img {
        order: 2;
        margin-bottom: 30px;
    }

    .game-container div {
        order: 1;
        width: 100%;
        margin-bottom: 15px;
        flex-grow: 0;
    }

    .game-container video {
        order: 2;
        width: 100%;
        max-width: 100%;
        height: auto;
        flex-shrink: 1;
    }

    .game-title {
        font-size: min(56px, 7vw);
        text-align: center;
        margin-bottom: 20px;
    }

    .close-btn {
        position: relative;
        top: auto;
        left: auto;
        font-size: min(4em, 7vw);
    }

    .game-info {
        font-size: min(20px, 2vw);
    }
}