* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height:100%;
    min-width: 320px;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #222;
    /*background-image: linear-gradient(#444, #111);*/
}

/* Navigation */

nav {
    margin: 30px 0 20px 0;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

nav li {
    margin-right: 25px;
    display: inline-block;
}

nav li a {
    color: #bbb;
    font-size: min(2.5em, 2vw);
    text-decoration: none;
    transition: color 0.4s ease-out, opacity 0.3s ease;
    white-space: nowrap;
}

nav li a:hover {
    color: white;
}

nav li:last-child {
    margin-right: 0;
}

/* Main content */

header {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

p {
    color: white;
    text-align: justify;
    font-size: 1.4em;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* Classes */

.content {
    max-width: 1240px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 40px 0;
    padding: 40px 0;
}

.game-container {
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    transition: transform .4s ease-out, box-shadow .4s ease-out, background-color .4s ease-out;
}

.game-container:hover {
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    background-color: #1F1F1F;
}

.game-title {
    color: white;
    font-size: 52px;
    text-align: center;
    margin-bottom: 20px;
}

.icon-container {
    display: flex;
    height: 100%;
    vertical-align: middle;
}

.no-select {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.strike {
    text-decoration: line-through;
}

/* Fonts */

.amarante-regular {
    font-family: "Amarante", serif;
    font-weight: 400;
    font-style: normal;
}

.raleway-bold {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* ID selectors */

#current {
    color: white;
}

#home-icon {
    height: 100px;
    margin: 0 25px;
    filter: brightness(70%);
    transition: filter 0.4s ease-out;
}

#home-icon:hover {
    filter: brightness(100%);
}


/* Media queries */
@media (max-width: 1300px) {
    .content {
        margin: 0 50px;
    }

    .content * {
        width: 100%;
    }

    .game-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 0;
    }

    .game-container img {
        order: 2;
        width: 100%;
        margin-bottom: 30px;
    }

    .game-container div {
        order: 1;
        width: 100%;
        margin-bottom: 15px;
    }
}